* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLOR PALLETTE */
:root {
  --black: #0d1b2a;
  --dblue: #1b263b;
  --mblue: #415a77;
  --lblue: #778da9;
  --grey: #e0e1dd;
}

.title-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}

.title-header {
  font-size: 30px;
  text-align: center;
  color: var(--grey);
}

.title-txt {
  margin-bottom: 20px;
}

#portrait {
  height: 200px;
}
