/* COLOR PALLETTE */
:root {
  --black: #000000;
  --bblue: #04080d;
  --dblue: #1b263b;
  --dblue2: #111824;
  --mblue: #415a77;
  --lblue: #778da9;
  --grey: #e0e1dd;
  --txtgrey: #c7c8c5;
  --dgrey: #152130;
  --secondary: #ec2d47;
  --dsecondary: #9e2030;
  --ddsecondary: #681520;
}

#contact-page {
  background-image: linear-gradient(
    to bottom,
    var(--black) 0%,
    var(--black) 50%,
    var(--dblue) 70%,
    var(--dblue) 100%
  );
  color: var(--txtgrey);
  position: relative;
  z-index: 100 !important;
}

#contact-page > header {
  text-align: center;
  margin-bottom: 1.25rem;
  padding-top: 4rem;
}

#contact-header {
  margin-bottom: 0.25rem;
}

#contact-sub {
  margin-bottom: 0.75rem;
}

#contact-form {
  display: grid;
  height: 25rem;
  width: 50%;
  margin: auto;
  grid-template-rows: 12% 12% 52% 12%;
  gap: 4%;
  padding-bottom: 1rem;
}

#contact-page hr {
  margin-bottom: 1rem;
}

.contact-input {
  background-color: #414141;
  border: none;
  border-radius: 20px;
  color: var(--txtgrey);
  font-size: 1rem;
  padding: 1rem;
  transition-duration: 0.4s;
  letter-spacing: 1px;
}

.contact-input::placeholder {
  font-style: italic;
}

.contact-input:hover {
  background-color: #333;
  transition-duration: 0.4s;
  padding-left: 1.25rem;
}

.contact-input:focus {
  border: none;
  background-color: #333;
}

#input-msg {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  resize: none;
}

#input-send {
  border-radius: 20px;
  background-color: inherit;
  color: var(--secondary);
  border: 3px solid var(--secondary);
  font-size: 1.15rem;
  font-weight: 200;
  text-transform: uppercase;
  transition-duration: 0.4s;
  cursor: pointer;
}

#input-send:hover {
  background-color: var(--secondary);
  color: var(--txtgrey);
  box-shadow: 0 0 20px var(--secondary);
  transition-duration: 0.4s;
}

.info-link {
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: 1px;
  color: var(--txtgrey);
  transition-duration: 0.2s;
}

.info-link:hover {
  color: var(--secondary);
  transform: translateY(2px);
  text-shadow: 0 0 20px var(--secondary);
  transition-duration: 0.2s;
}

.contact-icon {
  margin-right: 1rem;
}

#info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-info {
  display: grid;
  grid-template-columns: 15.5rem 15.5rem;
}

@media screen and (max-width: 725px) {
  #contact-sub {
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 1rem;
  }

  .info-link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  #contact-sub {
    font-size: 0.75rem;
  }

  #contact-info {
    grid-template-columns: 10rem 10rem;
  }

  .info-link {
    font-size: 0.6rem;
  }

  #contact-form {
    display: grid;
    height: 20rem;
    width: 50%;
    margin: auto;
    grid-template-rows: 12% 12% 52% 12%;
    gap: 4%;
    padding-bottom: 1rem;
  }

  .contact-input {
    font-size: 0.75rem;
  }
}
