* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: block;
}

html {
  scroll-behavior: smooth;
}

:root {
  --black: #000000;
  --bblue: #04080d;
  --dblue: #1b263b;
  --dblue2: #111824;
  --mblue: #415a77;
  --lblue: #778da9;
  --grey: #e0e1dd;
  --txtgrey: #c7c8c5;
  --dgrey: #152130;
  --secondary: #ec2d47;
  --dsecondary: #9e2030;
  --ddsecondary: #681520;
}

.hidden {
  display: none;
}

a:link {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgb(255, 255, 255, 0.05);
  z-index: 9999;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(var(--dsecondary), var(--secondary));
  animation: animate 5s linear infinite;
  z-index: 10000;
}

@keyframes animate {
  0%,
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(50%);
  }
}

#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--dsecondary), var(--secondary));
  filter: blur(10px);
}

#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--dsecondary), var(--secondary));
  filter: blur(30px);
}

.hover-glow:hover {
  cursor: pointer;
  color: var(--grey);
  text-shadow: 0 0 10px var(--grey);
  transition-duration: 0.4s;
}

.hidden {
  display: none !important;
}

.overlay-hidden {
  opacity: 0 !important;
  z-index: -1 !important;
  pointer-events: none !important;
}

hr {
  height: clamp(0.2rem, 0.75svw, 0.8rem);
  width: 60%;
  border-radius: 10px;
  border: none;
  margin: auto;
  margin-bottom: 2em;
  background-image: linear-gradient(var(--ddsecondary), var(--secondary));
}

.page-header {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-transform: uppercase;
}

.subtxt {
  font-weight: 200;
  font-size: 1.25rem;
  text-transform: lowercase;
  color: var(--txtgrey);
}
