/* COLOR PALLETTE */
:root {
  --black: #000000;
  --bblue: #04080d;
  --dblue: #1b263b;
  --mblue: #415a77;
  --lblue: #778da9;
  --grey: #e0e1dd;
  --dgrey: #152130;
  --secondary: #ec2d47;
}

#navbar {
  background-color: #333333;
  box-shadow: 0 0 20px var(--dblue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9998;
}

.nav {
  font-size: 20px;
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
  margin-right: 2.5%;
  transition-duration: 0.4s;
}

.nav:hover {
  cursor: pointer;
  transition-duration: 0.4s;
  color: var(--secondary);
}

.active {
  color: var(--secondary);
  transition-duration: 0.75s;
}
