:root {
  --black: #000000;
  --bblue: #04080d;
  --dblue: #1b263b;
  --dblue2: #111824;
  --mblue: #415a77;
  --lblue: #778da9;
  --grey: #e0e1dd;
  --txtgrey: #c7c8c5;
  --dgrey: #152130;
  --secondary: #ec2d47;
  --dsecondary: #9e2030;
}

#projects-page {
  width: 100vw;
  height: 120vw;
  color: var(--txtgrey);
  background-image: linear-gradient(
    to bottom,
    var(--dblue) 0%,
    var(--dblue) 15%,
    var(--black) 25%,
    var(--black) 100%
  );
}

.projects-header {
  font-size: 50px;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-align: center;
  padding: 80px 0 40px 0;
}
