/* COLOR PALLETTE */
:root {
  --black: #000000;
  --bblue: #04080d;
  --dblue: #1b263b;
  --mblue: #415a77;
  --lblue: #778da9;
  --grey: #e0e1dd;
  --secondary: #ec2d47;
}

/* TITLE PAGE STYLING */
#title-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 60vh 20vh 20vh;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle, var(--dblue) 0%, var(--black) 100%);
}

#title-background {
  position: absolute;
}

#title-background canvas {
  z-index: -1 !important;
}

.title-header {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: var(--grey);
  align-self: end;
  grid-row: 1/2;
}

.txt1 {
  display: flex;
  justify-content: center;
  font-weight: 300;
}

.txt2 {
  margin-bottom: 40px;
  font-weight: 300;
}

.eric {
  color: var(--secondary);
  margin-left: 15px;
  transition-duration: 0.4s;
}

.eric:hover {
  text-shadow: 0 0 40px var(--secondary);
  transition-duration: 0.4s;
}

/* ABOUT ME BUTTON */
#title-btn {
  height: 50px;
  width: 300px;
  font-weight: 500;
  word-spacing: 1px;
  letter-spacing: 1px;
  justify-self: center;
  align-self: start;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  color: var(--secondary);
  background-color: inherit;
  border: 3px solid var(--secondary);
  border-radius: 3px;
  transition-duration: 0.4s;
}

#title-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 40px var(--secondary);
  text-shadow: 0 0 20px var(--secondary);
  transition-duration: 0.4s;
}

#title-btn:hover + #down-icon {
  opacity: 100%;
  transition-duration: 1s;
  animation: title-animation 1.25s ease-in-out infinite;
}

@keyframes title-animation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}

#down-icon {
  opacity: 0;
  color: var(--secondary);
  justify-self: center;
  align-self: self-start;
  margin-top: 20px;
}

.scroll-msg {
  grid-row: 2/3;
  justify-self: center;
  align-self: self-start;
  text-align: center;
}

/* FOOTER */
.socials {
  display: flex;
  justify-content: center;
  grid-row: 3/4;
}

.socials-grid {
  display: grid;
  grid-template-columns: repeat(4, 80px);
}

.social-link {
  justify-self: center;
}

.s-icon {
  color: var(--lblue);
  transition-duration: 0.4s;
}
